/**
 * @File        : components.scss
 * @Author      : 정재백
 * @Since       : 2024-10-24
 * @Description : 컴포넌트용 스타일시트
 * @Site        : https://devlog.ntiple.com
 **/
html#my-first-app {
  body {

    /******************************************************************************/
    /** 슬라이더 */
    /******************************************************************************/
    .slider {
      > .slider-track {
        height: 0.4rem;
        width: 100%;
        border: 1px solid #e5e7e9;
        // background-color: #fff;
        background-color: #eef0f2;
        border-radius: 0.4rem;
        > .slider-thumb {
          height: 0.8rem;
          width: 0.8rem;
          // background-color: #999;
          background-color: var(--bs-primary);
          border-radius: 0.8rem;
          > div {
            position: relative;
            display: flex;
            justify-content: center;
            top: -1.2rem;
            &::after {
              position: absolute;
              font-size: 0.5rem;
              top: 0.56rem;
              content: '▼';
              color: #e5e7e9;
            }
            > span {
              position: relative;
              top: -0.8rem;
              background: #fff;
              border: 1px solid #e5e7e9;
              border-radius: 0.5rem;
              padding: 0 0.5rem 0 0.5rem;
              display: block;
            }
          }
        }
        > .slider-mark {
          position: relative;
          top: 1.2rem;
          font-size: 0.7rem;
          opacity: 0.5;
        }
      }
    }

    /******************************************************************************/
    /** 편집기 */
    /******************************************************************************/
    .tiptap > p:first-child {
      margin-top: 0;
    }

    /******************************************************************************/
    /** 데이터그리드 */
    /******************************************************************************/
    .ag-theme-quartz {
      --ag-background-color: #fff;
      --ag-row-hover-color: #aef;
      --ag-row-border-color: #ccc;
      --ag-wrapper-border-radius: 0.5rem;
      --ag-borders: 1px solid;
      --ag-border-color: #ccc;
      --ag-header-background-color: #eee;
    }

    .ag-root-wrapper {
      .rspan-prime {
        display: flex;
        // align-items: center;
        background-color: var(--ag-background-color);
        border-bottom: 1px solid var(--ag-row-border-color);
      }
      .rspan-slave {
        color: rgba(255, 255, 255, 0);
        // border: 1px solid var(--ag-background-color);
        // border-top: 1px solid #fff;
        // position: relative;
        // top: -1px;
      }

      .ag-body {
        overflow: auto;
      }

      .ag-row-hover {
        .rspan-prime {
          background-color: var(--ag-row-hover-color);
        }
      }
      .ag-cell-hover {
        background-color: var(--ag-row-hover-color);
      }

      .ag-row {
        border-bottom: var(--ag-row-border-width) var(--ag-row-border-style) var(--ag-row-border-color);
      }
    }
  }
}