html {
  body {
    footer {
      position: fixed;
      top: calc(100vh - 3rem);
      height: 3rem;
      left: 0;
      width: 100%;
    }
    .container.board-list {
      >.row > div {
        padding: 0.5rem;
      }
      >.row.head > div {
        background-color: #999;
        font-weight: bolder;
        color: #fff;
        text-align: center;
      }
      >.row:nth-of-type(even) {
        background-color: #eee;
      }
    }
    .container.board-article,
    .container.input-form {
      > .row > div {
        padding: 0.5rem;
      }
      .row.content {
        min-height: 20rem;
        > div {
          height: auto;
        }
      }
      .row > div > input[type='text'] {
        width: 100%
      }
      .row.editor > div div[contenteditable] {
        padding: 0.5rem;
        min-height: 20rem;
        max-height: 20rem;
        overflow: hidden;
        overflow-y: auto;
      }
      .head {
        background-color: #999;
        font-weight: bolder;
        color: #fff;
        text-align: center;
      }
    }
  }
}

.text-right { text-align: right; }
.text-left { text-align: left; }
.cursor-pointer { cursor: pointer; }
.hidden { display: none !important; }

button[type="button"][disabled] { color: #ccc; }

div.pagination {
  display: block !important;
  nav {
    display: inline-block
  }
}

span.err-msg {
  color: #f00;
}

.modal.com-overlay > .modal-dialog > .modal-content {
  background: none;
  border: none;
  text-align: center;
  overflow: visible;
  display: block;
  font-size:large;
  color: #fff;
}

.transparent {
  opacity: 0;
}

.modal.com-dialog {
  z-index: 10056;
}

.modal.no-tran {
  z-index: 10054;
  > .modal-dialog {
    transition: none !important;
    transform: none !important;
  }
}